In [21]:
import numpy as np
import pandas as pd
import json
import pickle

%matplotlib inline

In [2]:
with open('../yelp_dataset/yelp_academic_dataset_review.json') as json_file:      
    data = json_file.readlines()
    # this line below may take at least 8-10 minutes of processing for 4-5 million rows. It converts all strings in list to actual json objects. 
    data = list(map(json.loads, data)) 

reviews = pd.DataFrame(data)

In [3]:
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02
1,8bFej1QE5LXp4O05qjGqXA,YoVfDbnISlW0f7abNQACIg,RA4V8pr014UyUbDvI-LW2A,4.0,1,0,0,This store is pretty good. Not as great as Wal...,2015-07-03 20:38:25
2,NDhkzczKjLshODbqDoNLSg,eC5evKn1TWDyHCyQAwguUw,_sS2LBIGNT5NQb6PD1Vtjw,5.0,0,0,0,I called WVM on the recommendation of a couple...,2013-05-28 20:38:06
3,T5fAqjjFooT4V0OeZyuk1w,SFQ1jcnGguO0LYWnbbftAA,0AzLzHfOJgL7ROwhdww2ew,2.0,1,1,1,I've stayed at many Marriott and Renaissance M...,2010-01-08 02:29:15
4,sjm_uUcQVxab_EeLCqsYLg,0kA0PAJ8QFMeveQWHFqz2A,8zehGz9jnxPqXtOc7KaJxA,4.0,0,0,0,The food is always great here. The service fro...,2011-07-28 18:05:01

In [31]:
# Keep columns with interest
reviews = reviews[['user_id','business_id', 'stars', 'text', 'date']]

In [8]:
# Check for nulls
reviews.isnull().sum()

user_id        0
business_id    0
stars          0
text           0
date           0
dtype: int64

In [18]:
# Create Year and Month column
reviews['date'] = pd.to_datetime(reviews['date']) # Change 'date' column to 'datetime' format
reviews['year'] = reviews['date'].dt.year
reviews['month'] = reviews['date'].dt.month

In [28]:
# Pickle the table
reviews.to_pickle("../reviews.pkl")

In [98]:
with open('../yelp_dataset/yelp_academic_dataset_business.json') as json_file:      
    data = json_file.readlines()
    # this line below may take at least 8-10 minutes of processing for 4-5 million rows. It converts all strings in list to actual json objects. 
    data = list(map(json.loads, data)) 

business = pd.DataFrame(data)

In [99]:
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295979,3.0,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Hair Salons",None
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747027,-84.353424,4.0,14,1,"{'GoodForKids': 'False', 'BusinessParking': '{...","Gyms, Active Life, Interval Training Gyms, Fit...","{'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'..."

In [100]:
business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [101]:
business = business[['business_id', 'name', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours']]

In [102]:
business['state'].value_counts()

MA     36012
OR     25175
TX     24485
FL     21907
GA     18090
BC     17298
OH     11258
CO      3198
WA      3121
CA        13
NH         4
VA         2
ON         2
NY         2
AZ         2
NC         1
MN         1
OK         1
DE         1
HI         1
DC         1
WI         1
ABE        1
KY         1
AL         1
IL         1
WY         1
ME         1
KS         1
MI         1
NM         1
Name: state, dtype: int64

In [103]:
business = business.loc[business['state'] == 'MA']
business.shape

(36012, 13)

In [104]:
# Check for nulls, and drop nulls if necessary
business.isnull().sum()

business_id        0
name               0
city               0
state              0
postal_code        0
latitude           0
longitude          0
stars              0
review_count       0
is_open            0
attributes      3570
categories        39
hours           7351
dtype: int64

In [96]:
business.shape

(26636, 13)

In [137]:
business.dropna(axis=0, subset=['categories'], inplace=True)

In [141]:
# dataset for restaurants in MA 
business = business.loc[business['categories'].str.contains('Restaurants')]
business.shape

(10550, 13)

In [142]:
business.to_pickle("../business.pkl")